body.f1 { background img src= "gauju.jpg";}
h1 {color:rgb(11, 163, 44); font-style:"Arial"}
p .z1{color:rgb(61, 34, 214);font-style: "Verdana";}
p {color:rgb(61, 34, 214);font-style: "Verdana";font-size: 12pt}